<div class="banner">
<h1>Your favourite movies</h1>
</div>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'New list', new_list_path(@list) %>
